IO_LOC "clk" 45;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "nreset" 15;
IO_PORT "nreset" IO_TYPE=LVCMOS18 PULL_MODE=NONE;

IO_LOC "led" 10;
IO_PORT "led" IO_TYPE=LVCMOS33 DRIVE=8 BANK_VCCIO=3.3;
